.body {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  